<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OAuth2 bundle 0.8{% endblock %}</title>
    </head>
    <body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
